*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:16px;
}
body{
    min-width:100vw;
}
#MainDiv{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    outline:2px solid black;
    min-height:100vh;
    background-color:rgb(97, 50, 50);
    padding:15px;
    
    
}

#MainDiv h1{
    font-size:2rem;
}

#ButtonBox{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction:row;
    width:50%;
    flex-wrap:wrap;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:2%;
    outline:5px solid black;
    border-radius:10px;
    padding:5px;
    
    
}

#ButtonBox button{
    min-width:50px;
    border-radius:15px;
    margin:1px;
    min-height:40px;
}

#ButtonBox button:hover{
    background-color:grey;
    cursor:pointer;
}